.lesson {
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #E1E1E1;
  padding: 15px 15px 15px 100px;
}

.lesson__num {
  font-size: 25px;
  box-sizing: border-box;
  padding-top: 4px;
}

.lesson__name {
  display: flex;
  gap: 15px;
  align-items: center;
}

.lesson__header {
  font-size: 25px;
  margin: 0;
  color: #3C3C3C;
  padding: 5px 10px;
  border: none;
  max-width: 300px;
}

.lesson__header:focus {
  outline: none;
}

.lesson__links {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 20px;
}

.lesson__link {
  color: #3C3C3C;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
  max-width: 200px;
  background: none;
  border: none;
  display: flex;
  justify-content: left;
  cursor: pointer;
}

.lesson__link_active {
  font-weight: 500;
}

.lesson__link:hover {
  color: #8147E7;
}
